body {
    background-color: antiquewhite;
}
h1 {
    text-align: center;
    color:steelblue;
    font-family: Arial;
}

p {
    text-align: justify;
    color:steelblue;
    font-family: Arial;
    font-size: 20px;
}