h1 {
    color: aliceblue;
    display:block;
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.button {
    background-color: #0015ff;
    border:black 3px;
    color: rgb(255, 0, 0);
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    nav-up: auto;
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .button2:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    } 
    #bar{
    background-color: red;
    background-repeat:no-repeat;
    line-height:55px;
    padding-left:20px;
    padding-right:20px;
    }
    #headerTitle{
    position:relative;
    left:30px;
    top:30px;
    color:#ad0000;
    text-align:left;
    font-size:34px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
}
