body {
    background-image:url("Scary House.jpeg");
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment:fixed;
    background-size: cover;
}
h1 {color:rgb(255, 255, 255);
text-align: center;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-size-adjust: auto;

}
p {
    text-align: center;
    color: rgb(125, 0, 0);
}
h2 {
    color: rgb(125, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;



}
.center {
    display: block;
    margin-left: auto;
    margin-right: 183px;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 50%;
  }
  
  .center p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
  }

.button {
    background-color: #0015ff;
    border:black 3px;
    color: rgb(255, 0, 0);
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    nav-up: auto;
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .button2:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    } 
    .button3 {
        background-color: #000000;
        border:black 3px;
        color: rgb(4, 255, 0);
        padding: 15px 75px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        nav-up: auto;
        align-content: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    .button4:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        } 